<html>
    <head>
        <title></title>
    </head>
    <link rel="stylesheet" href="../static/estilos.css">
    <body>
        <div class="cabecalho">
            <h1>Novo Aluno</h1> 
        </div>                 
            <form action="/salvar" method="POST">                
                <label for="">Nome :</label>
                <input type="text" name="nome"> <br/>
                <label for="">Sobrenome :</label>
                <input type="text" name="sobrenome"> <br/>
                <label for="">Telefone :</label>
                <input type="text" name='telefone'> <br/>
                <hr />
                <div class="novo">
                    <a href="/">Salvar</a>
                </div><br>
                <div class="novo">
                    <a href="/">Voltar</a>
                </div>
            </form>        
    </body>
</html>