<html>
    <head>
        <title>{{nome}}</title>
        <link rel="stylesheet" href="../static/estilos.css">
    </head>    
    <body>
        <div class="cabecalho">
            <h1>Novo Aluno</h1> 
        </div>                 
            <form action="/salvar" method="POST">                
                <label for="">Nome :</label>
                <input type="text" name="nome"> <br/>
                <label for="">Sobrenome :</label>
                <input type="text" name="sobrenome"> <br/>
                <label for="">Telefone :</label>
                <input type="text" name='telefone'> <br/>
                <hr />               
                <input class="salvar" type="submit" value="Salvar"><br />
                <br />                
            <div class="novo">
                <a href="/">Voltar</a>
            </div>
            </form>        
    </body>
</html>